@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.container {
  max-width: 1280px !important;
  padding: 0 20px !important;
  margin: 0 auto !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

#backtop {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  bottom: -60px;
  transition: 0.5s;
  right: 60px;
  border-radius: 50%;
}
@media (max-width: 550px) {
  #backtop {
    right: 40px;
  }
  #backtop img {
    width: 50px;
  }
}

.main__btn {
  max-width: 220px;
  padding: 20px 32px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  background-color: #444cfc;
  transition: 0.4s;
}
.main__btn img {
  transition: 0.4s;
}
.main__btn .rec1 {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffa155;
  transition: 0.4s;
  opacity: 0;
}
.main__btn .rec2 {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 6px;
  background-color: #ffd3af;
  transition: 0.5s;
  opacity: 0;
}
.main__btn .rec3 {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 18px;
  background-color: #666dff;
  transition: 0.6s;
  opacity: 0;
}
.main__btn .rec4 {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 18px;
  left: 0;
  background-color: #666dff;
  transition: 0.7s;
  opacity: 0;
}
.main__btn:hover {
  background-color: #000dff;
}
.main__btn:hover img {
  transform: translateX(6px);
}
.main__btn:hover .rec1,
.main__btn:hover .rec2,
.main__btn:hover .rec3,
.main__btn:hover .rec4 {
  opacity: 1;
}

header {
  z-index: 100;
  background-color: #232536;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 1000;
}
header .navbar__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .navbar__container #navbar-open {
  display: none;
}
header .navbar__container .nav__left {
  display: flex;
  align-items: center;
  height: 100%;
}
header .navbar__container .nav__left a {
  padding: 0;
  margin-top: 5px;
}
header .navbar__container .nav__right {
  height: 100%;
}
header .navbar__container .nav__right .menus {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 33px;
  list-style: none;
}
header .navbar__container .nav__right .menus__item,
header .navbar__container .nav__right .menus .clone {
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 3px solid #232536;
  transition: 0.3s;
}
header .navbar__container .nav__right .menus__item:hover,
header .navbar__container .nav__right .menus .clone:hover {
  border-top: 3px solid #ffa155;
}
header .navbar__container .nav__right .menus__item .menus__link,
header .navbar__container .nav__right .menus__item a,
header .navbar__container .nav__right .menus .clone .menus__link,
header .navbar__container .nav__right .menus .clone a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.6;
  transition: 0.3s;
}
header .navbar__container .nav__right .menus__item a,
header .navbar__container .nav__right .menus .clone a {
  display: flex;
  align-items: center;
}
header .navbar__container .nav__right .menus__item a img,
header .navbar__container .nav__right .menus .clone a img {
  margin-left: 8px;
  transition: 0.3s;
}
header .navbar__container .nav__right .menus__item:hover,
header .navbar__container .nav__right .menus .clone:hover {
  cursor: pointer;
}
header .navbar__container .nav__right .menus__item:hover .menus__link,
header .navbar__container .nav__right .menus__item:hover a,
header .navbar__container .nav__right .menus .clone:hover .menus__link,
header .navbar__container .nav__right .menus .clone:hover a {
  width: 100%;
  height: 100%;
  opacity: 1;
}
header .navbar__container .nav__right .menus__item:hover .menus__link img,
header .navbar__container .nav__right .menus__item:hover a img,
header .navbar__container .nav__right .menus .clone:hover .menus__link img,
header .navbar__container .nav__right .menus .clone:hover a img {
  transform: translateX(8px);
}
header .navbar__container .nav__right .menus .search {
  display: none;
}
header .navbar__container .nav__right .menus #navbar-close {
  display: none;
}
header .navbar__container .nav__right .clone__mobile {
  display: none;
}
@media (max-width: 950px) {
  header .navbar__container #navbar-open {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  header .navbar__container .nav__right {
    display: flex;
    align-items: center;
  }
  header .navbar__container .nav__right .menus {
    transition: 0.7s ease-out;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background-color: #232536;
    height: 45%;
    width: 100vw;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: -45%;
  }
  header .navbar__container .nav__right .menus__item {
    border: none;
    height: 7%;
  }
  header .navbar__container .nav__right .menus__item .menus__link {
    position: relative;
    height: 100%;
    font-size: 18px;
  }
  header .navbar__container .nav__right .menus__item .menus__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #444cfc;
    bottom: -4px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  header .navbar__container .nav__right .menus__item .menus__link:hover::before {
    transform-origin: center;
    transform: scaleX(1);
  }
  header .navbar__container .nav__right .menus__item:hover {
    border: none;
  }
  header .navbar__container .nav__right .menus .clone {
    display: none;
  }
  header .navbar__container .nav__right .menus .search {
    width: 100%;
    display: flex;
  }
  header .navbar__container .nav__right .menus .search input {
    width: 90%;
    padding: 8px 10px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  header .navbar__container .nav__right .menus .search input::-moz-placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  header .navbar__container .nav__right .menus .search input:-ms-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  header .navbar__container .nav__right .menus .search input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  header .navbar__container .nav__right .menus .search button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 8px 20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: #444cfc;
  }
  header .navbar__container .nav__right .menus #navbar-close {
    cursor: pointer;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    position: fixed;
    right: 20px;
  }
  header .navbar__container .nav__right .clone__mobile {
    display: block;
    padding: 5px 10px;
    background-color: #444cfc;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
    gap: 5px;
  }
  header .navbar__container .nav__right .clone__mobile img {
    width: 17px;
    transition: 0.3s;
  }
  header .navbar__container .nav__right .clone__mobile:hover {
    background-color: #303aff;
  }
  header .navbar__container .nav__right .clone__mobile:hover img {
    transform: translateX(5px);
  }
}
@media (max-width: 550px) {
  header .navbar__container #navbar-open img {
    width: 35px;
  }
  header .navbar__container .nav__left a img {
    width: 110px;
  }
  header .navbar__container .nav__right .clone__mobile {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 8px;
  }
}
@media (max-width: 550px) {
  header {
    height: 70px;
  }
}

.navbar-shrink {
  height: 65px !important;
}

footer #footer__subscribe {
  margin-bottom: 96px;
  padding: 96px;
  background-color: #666dff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
footer #footer__subscribe .rec__shapes {
  position: absolute;
  top: 0;
  left: 0;
}
footer #footer__subscribe .rec__shapes .rec1 {
  width: 60px;
  height: 50px;
  background-color: #ffa155;
  position: absolute;
  top: 0;
  left: 0;
}
footer #footer__subscribe .rec__shapes .rec2 {
  width: 30px;
  height: 30px;
  background-color: #ffd3af;
  position: absolute;
  top: 0;
  left: 30px;
}
footer #footer__subscribe .rec__shapes .rec3 {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 60px;
}
footer #footer__subscribe .rec__shapes .rec4 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50px;
  background: rgba(255, 255, 255, 0.4);
}
footer #footer__subscribe .line__shapes {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 24px;
}
footer #footer__subscribe .line__shapes .line1 {
  width: 100%;
  height: 23%;
  background-color: #ffa155;
}
footer #footer__subscribe .line__shapes .line2 {
  width: 100%;
  height: 54%;
  background-color: #ffd3af;
}
footer #footer__subscribe .line__shapes .line3 {
  width: 100%;
  height: 23%;
  background-color: #444cfc;
}
footer #footer__subscribe .content h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
footer #footer__subscribe .content h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  max-width: 490px;
  margin-top: 13px;
}
footer #footer__subscribe .input input {
  padding: 20px 30px;
  outline: none;
  border: 2px solid #666dff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  width: 450px;
}
footer #footer__subscribe .input input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.4;
}
footer #footer__subscribe .input input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.4;
}
footer #footer__subscribe .input input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.4;
}
footer #footer__subscribe .input input:focus {
  border: 2px solid #ffa155;
}
@media (max-width: 1200px) {
  footer #footer__subscribe {
    gap: 30px;
    padding: 70px;
  }
  footer #footer__subscribe .input input {
    padding: 15px;
    width: 380px;
  }
  footer #footer__subscribe .content h5 {
    font-size: 10px;
  }
  footer #footer__subscribe .content h2 {
    font-size: 30px;
    line-height: 140%;
  }
}
@media (max-width: 900px) {
  footer #footer__subscribe {
    flex-direction: column;
    padding: 50px;
  }
  footer #footer__subscribe .rec__shapes .rec1 {
    width: 40px;
    height: 40px;
  }
  footer #footer__subscribe .rec__shapes .rec2 {
    width: 25px;
    height: 25px;
    left: 15px;
  }
  footer #footer__subscribe .rec__shapes .rec3 {
    width: 25px;
    height: 25px;
    left: 40px;
  }
  footer #footer__subscribe .rec__shapes .rec4 {
    width: 25px;
    height: 25px;
    top: 40px;
  }
  footer #footer__subscribe .line__shapes {
    width: 20px;
  }
  footer #footer__subscribe .content {
    text-align: center;
    width: 100%;
  }
  footer #footer__subscribe .content h2 {
    max-width: 100%;
  }
  footer #footer__subscribe .input {
    width: 100%;
  }
  footer #footer__subscribe .input input {
    width: 100%;
  }
}
@media (max-width: 600px) {
  footer #footer__subscribe .content h2 {
    font-size: 25px;
    margin-top: 10px;
  }
  footer #footer__subscribe .input input {
    padding: 10px;
    font-size: 15px;
  }
  footer #footer__subscribe .input input::-moz-placeholder {
    font-size: 15px;
  }
  footer #footer__subscribe .input input:-ms-input-placeholder {
    font-size: 15px;
  }
  footer #footer__subscribe .input input::placeholder {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  footer #footer__subscribe {
    padding: 30px;
  }
  footer #footer__subscribe .line__shapes {
    display: none;
  }
  footer #footer__subscribe .rec__shapes {
    display: none;
  }
}
@media (max-width: 430px) {
  footer #footer__subscribe .content h2 {
    font-size: 22px;
  }
  footer #footer__subscribe .input input {
    font-size: 14px;
    padding: 7px;
  }
  footer #footer__subscribe .input input::-moz-placeholder {
    font-size: 14px;
  }
  footer #footer__subscribe .input input:-ms-input-placeholder {
    font-size: 14px;
  }
  footer #footer__subscribe .input input::placeholder {
    font-size: 14px;
  }
}
footer #footer__main .main__container__top {
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
footer #footer__main .main__container__top .rec {
  position: absolute;
  top: 0;
  left: 0;
}
footer #footer__main .main__container__top .rec .rec1 {
  width: 25px;
  height: 25px;
  background-color: #ffa155;
  position: absolute;
  left: 0;
  top: 0;
}
footer #footer__main .main__container__top .rec .rec2 {
  width: 15px;
  height: 15px;
  background-color: #ffd3af;
  position: absolute;
  top: 0;
  left: 10px;
}
footer #footer__main .main__container__top .rec .rec3 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 15px;
  height: 15px;
  background-color: #666dff;
}
footer #footer__main .main__container__top .rec .rec4 {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #666dff;
  width: 12px;
  height: 12px;
}
footer #footer__main .main__container__top .left .heading h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  max-width: 460px;
}
footer #footer__main .main__container__top .left .heading h5 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  display: flex;
  align-items: center;
  gap: 5px;
}
footer #footer__main .main__container__top .left .heading h5 img {
  width: 27px;
}
footer #footer__main .main__container__top .left .info {
  margin-top: 28px;
}
footer #footer__main .main__container__top .left .info .c1 {
  padding-bottom: 14px;
}
footer #footer__main .main__container__top .left .info .c1 a {
  display: block;
  margin: 2px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #232536;
  text-decoration: none;
}
footer #footer__main .main__container__top .left .info .c1 a:hover {
  text-decoration: underline;
}
footer #footer__main .main__container__top .left .info .line {
  height: 1px;
  max-width: 268px;
  background-color: rgba(0, 0, 0, 0.178);
}
footer #footer__main .main__container__top .left .info .c2 {
  padding-top: 14px;
}
footer #footer__main .main__container__top .left .info .c2 a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  text-decoration: none;
}
footer #footer__main .main__container__top .left .info .c2 a:hover {
  text-decoration: underline;
}
footer #footer__main .main__container__top .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #footer__main .main__container__top .right .menus {
  display: flex;
  gap: 60px;
}
footer #footer__main .main__container__top .right .menus ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer #footer__main .main__container__top .right .menus ul h4,
footer #footer__main .main__container__top .right .menus ul .pages {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  text-decoration: none;
}
footer #footer__main .main__container__top .right .menus ul .pages:hover {
  text-decoration: underline;
}
footer #footer__main .main__container__top .right .menus ul a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  text-decoration: none;
}
footer #footer__main .main__container__top .right .menus ul a:hover {
  text-decoration: underline;
}
footer #footer__main .main__container__top .right .contact {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
footer #footer__main .main__container__top .right .contact .shape {
  display: flex;
}
footer #footer__main .main__container__top .right .contact .shape .sh1 {
  width: 14px;
  height: 14px;
  background-color: #ffd3af;
}
footer #footer__main .main__container__top .right .contact .shape .sh2 {
  width: 37px;
  height: 14px;
  background-color: #666dff;
}
footer #footer__main .main__container__top .right .contact a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer #footer__main .main__container__top .right .contact a img {
  margin-left: 8px;
  transition: 0.3s;
}
footer #footer__main .main__container__top .right .contact a:hover img {
  transform: translateX(8px);
}
@media (max-width: 1050px) {
  footer #footer__main .main__container__top .left .heading h2 {
    font-size: 35px;
    line-height: 140%;
    max-width: 330px;
  }
}
@media (max-width: 900px) {
  footer #footer__main .main__container__top {
    flex-direction: column;
    gap: 50px;
  }
  footer #footer__main .main__container__top .left {
    width: 100%;
  }
  footer #footer__main .main__container__top .left .heading {
    text-align: center;
  }
  footer #footer__main .main__container__top .left .heading h2 {
    max-width: 100%;
  }
  footer #footer__main .main__container__top .left .heading h5 {
    margin-top: 20px;
    justify-content: center;
  }
  footer #footer__main .main__container__top .left .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  footer #footer__main .main__container__top .left .info .c1 {
    padding: 0;
  }
  footer #footer__main .main__container__top .left .info .c1 a {
    display: inline;
    margin: 0 5px;
  }
  footer #footer__main .main__container__top .left .info .c2 {
    padding: 0;
  }
  footer #footer__main .main__container__top .left .info .c2 a {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #232536;
  }
  footer #footer__main .main__container__top .left .info .c2 a br {
    display: none;
  }
  footer #footer__main .main__container__top .right {
    gap: 40px;
  }
  footer #footer__main .main__container__top .right .menus {
    justify-content: space-evenly;
  }
  footer #footer__main .main__container__top .right .menus ul {
    text-align: center;
  }
  footer #footer__main .main__container__top .right .contact {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  footer #footer__main .main__container__top .left .heading h2 {
    font-size: 30px;
    line-height: 100%;
  }
  footer #footer__main .main__container__top .left .info a {
    font-size: 16px !important;
  }
  footer #footer__main .main__container__top .left .info .c2 {
    display: flex;
    justify-content: center;
  }
  footer #footer__main .main__container__top .left .info .c2 a {
    text-align: center;
  }
  footer #footer__main .main__container__top .right .menus {
    flex-direction: column-reverse;
    gap: 30px;
  }
  footer #footer__main .main__container__top .right .menus ul h4,
footer #footer__main .main__container__top .right .menus ul .pages {
    font-size: 18px;
  }
  footer #footer__main .main__container__top .right .menus ul a {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  footer #footer__main .main__container__top {
    padding: 30px 0;
  }
  footer #footer__main .main__container__top .rec {
    display: none;
  }
}
footer .footer__bottom {
  padding: 25px 0;
  background-color: #ffe6d2;
}
footer .footer__bottom .footer_bottom {
  display: flex;
  justify-content: space-between;
}
footer .footer__bottom .footer_bottom .left {
  display: flex;
  align-items: center;
  gap: 40px;
}
footer .footer__bottom .footer_bottom .left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
}
footer .footer__bottom .footer_bottom .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer__bottom .footer_bottom .right a {
  transition: 0.3s;
  padding: 5px;
}
footer .footer__bottom .footer_bottom .right a:hover {
  transform: translateY(-10px);
}
@media (max-width: 600px) {
  footer .footer__bottom .footer_bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

#career__header {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.corner {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.corner-img {
  max-width: 48px;
  max-height: 52px;
}

.careerheader__wrapper-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.careerheader-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  opacity: 0.87;
}

.careerheader__text-heading1 {
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #232536;
  max-width: 624px;
  max-height: 174px;
}

.careerheader__text-title {
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #232536;
  opacity: 0.87;
  max-width: 550px;
  max-height: 48px;
}

.careerheader__heading {
  margin-top: 64px;
  max-width: 1099px;
  max-height: 194px;
}

.careerheader__lower {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
}

.lower_img {
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.lower_img:hover {
  transition: 0.5s;
  transform: translateY(5px);
}

@media (max-width: 1100px) {
  .careerheader__heading {
    position: relative;
    min-width: 1099px;
    min-height: 194px;
  }
  .careerheader__heading img {
    position: absolute;
    left: 50px;
    padding-left: 50px;
    max-width: 1000px;
  }
  .corner {
    transform: translateX(-70px);
  }
}
@media (max-width: 1000px) {
  .careerheader__heading img {
    left: 110px;
    padding-left: 0;
    max-width: 950px;
  }
  .careerheader__wrapper-text {
    padding-left: 100px;
  }
  .careerheader__lower {
    padding-left: 100px;
  }
}
@media (max-width: 950px) {
  .careerheader__heading img {
    max-width: 800px;
    left: 180px;
  }
  .corner {
    transform: translateX(-150px);
  }
}
@media (max-width: 850px) {
  .careerheader__heading img {
    max-width: 700px;
    left: 250px;
  }
  .corner {
    transform: translateX(-150px);
  }
}
@media (max-width: 750px) {
  .careerheader__heading img {
    max-width: 600px;
    left: 350px;
  }
  .corner {
    transform: translateX(-150px);
  }
  .careerheader__wrapper-text {
    padding-left: 200px;
  }
  .careerheader__lower {
    padding-left: 200px;
  }
}
@media (max-width: 600px) {
  .careerheader__heading img {
    max-width: 600px;
    left: 400px;
  }
  .corner {
    transform: translateX(-80px);
  }
  .careerheader__wrapper-text {
    padding-left: 300px;
  }
  .careerheader__lower {
    padding-left: 300px;
  }
}
@media (max-width: 400px) {
  .careerheader__heading img {
    max-width: 600px;
    left: 450px;
  }
  .corner {
    transform: translateX(-80px);
  }
  .careerheader__wrapper-text {
    padding-left: 350px;
  }
  .careerheader__lower {
    padding-left: 350px;
  }
}
.career__cards-wrapper {
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  min-width: 1280px;
  min-height: 949px;
  background-color: #ecf8f9;
  padding: 78px;
  gap: 32px;
  margin-bottom: 96px;
}

.cards__item-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

.cards__item-title {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5d5f6d;
  opacity: 0.6;
  padding-bottom: 52px;
}

.cards__item-span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666dff;
  cursor: pointer;
}

.cards__wrapper-item1 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item2 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item3 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item4 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item5 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item6 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item7 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item8 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

.cards__wrapper-item9 {
  padding: 48px 130px 20px 48px;
  background-color: #FFFFFF;
  max-width: 354px;
  max-height: 243px;
}

@media (max-width: 1100px) {
  .career__cards-wrapper {
    max-width: 1150px;
    max-width: 900px;
    min-width: 1150px;
    min-height: 900px;
    padding-left: 170px;
  }
}
@media (max-width: 1000px) {
  .career__cards-wrapper {
    overflow: hidden;
    min-width: 1000px;
  }
}
@media (max-width: 950px) {
  .career__cards-wrapper {
    overflow: hidden;
    min-width: 900px;
    padding: 50px;
    margin-left: 50px;
  }
}
@media (max-width: 850px) {
  .career__cards-wrapper {
    overflow: hidden;
    min-width: 850px;
    padding: 50px;
    margin-left: 20px;
  }
}
@media (max-width: 750px) {
  .career__cards-wrapper {
    overflow: hidden;
    min-width: 800px;
    padding: 30px;
    margin-left: 50px;
  }
}
@media (max-width: 650px) {
  .career__cards-wrapper {
    overflow: hidden;
    min-width: 770px;
    padding: 15px;
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .career__cards-wrapper {
    overflow: hidden;
    min-width: 700px;
    padding: 50px;
    padding-left: 170px;
    margin-left: 50px;
  }
}
@media (max-width: 550px) {
  .career__cards-wrapper {
    overflow: hidden;
    min-width: 600px;
    padding: 50px;
    padding-left: 120px;
    margin-left: 50px;
  }
}/*# sourceMappingURL=career.css.map */